/*multiples estilos de la pagina inicio.html que manejan toda la web*/

.head {
    padding: 20px 0;
    text-align: center;
    font-family: 'Lemon';
    margin: 0 auto;
    color: #2F9710;
    font-size: 70px;
    background-color: #9AE372;
    border-radius: 20px;
}

.pizza-layout {
    display: flex;
    align-items: center;

    justify-content: center;

    gap: 380px;

    padding: 40px;
    background-color: #69C76C;

}

.contact-btn {
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 18px 36px;
    border-radius: 10px;
    font-family: 'Lemon';
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #27ae60;
    transform: scale(1.05);

}

.pizza-img {
    width: 683px;
    height: 384px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.texto {
    font-size: 30px;
    padding: 50px 0;
    text-align: center;
    font-family: 'Lemon';
    margin: 0 auto;
    color: #eaecea;


}

.seccion2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;

    padding: 40px;
    background-color: #69C76C;
}

.menu-btn {
    background-color: #9AE372;
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    padding: 18px 36px;
    border-radius: 20px;
    font-family: 'Lemon';
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: #27ae60;
    transform: scale(1.05);

}

.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Lemon';
    font-size: 50px;
}

.site-footer a {
    color: #00aced;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    text-decoration: underline;
}