/*multiples estilos de la pagina inicio.html que manejan toda la web*/

.mi-navbar {
  font-family: "Lemon"; /*  fuente que prefieras */
  font-size: 1.3rem; /* tamaño */
  font-weight: bold; /* aplica negrita */
}
.mi-navbar .nav-link {
  color: #9ae372;
}

.pizza-layout {
  display: flex;
  align-items: center;

  justify-content: center;

  gap: 280px;

  padding: 20px;
  background-color: #69c76c;
}

.contact-btn {
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: #27ae60;
  transform: scale(1.05);
}

.pizza-img {
  width: 700px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.seccion2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 280px;

  padding: 20px;
  background-color: #69c76c;
}

.menu-btn {
  background-color: #9ae372;
  color: white;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 20px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background-color: #27ae60;
  transform: scale(1.05);
}

.site-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Lemon";
  font-size: 50px;
}

.site-footer a {
  color: #00aced;
  text-decoration: none;
  font-weight: bold;
}

.site-footer a:hover {
  text-decoration: underline;
}
#loginForm {
  scroll-behavior: smooth;
}
#carouselTT {
  height: 600px;
  /* Ajusta según lo que necesites */
}
.carousel-item img {
  width: 100%; /* ocupa todo el ancho del contenedor */
  height: auto; /* mantiene proporción */
  object-fit: cover; /* recorta sin deformar */
  border-radius: 8px; /* esquinas redondeadas */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* sombra suave */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.05); /* efecto zoom al pasar el mouse */
  opacity: 0.95; /* leve transparencia */
}
.oculto {
  display: none;
}

.visible {
  display: block;
  opacity: 1;
}

#notificacion {
  position: fixed;
  top: 60px;
  left: 430px;

  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

#carousel2 {
  height: 600px;
  /* Ajusta según lo que necesites */
}
#Notificacion4 {
  position: fixed;
  top: 60px;
  left: 430px;

  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
