<select id="sabor" name="sabor" required pattern="[A-Za-z]{4,20}">
  <option value="">-- Selecciona un sabor --</option>
  <option value="champiñones">Champiñones</option>
  <option value="hawaiana">Hawaiana</option>
  <option value="mexicana">Mexicana</option>
  <option value="salami">Salami y cabano</option></select
><br />
