<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tortugas Ninja Pizza</title>

  <head>
    
    <!-- relacion con la pagina de css , links para fuentes de google "lemon" y script de bootstrap-->
    <link rel="stylesheet" href="/css/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lemon&family=Sigmar&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <!--header con nav bar con links y manejo de css-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success mi-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">🍕 Tortugas Ninja Pizzeria</a>

        <!-- Botón para colapsar en móviles -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContenido"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido colapsable -->
        <div class="collapse navbar-collapse" id="navbarContenido">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--links del navbar-->
            <li class="nav-item">
              <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto"
                >Contacto y registro</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/promos">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="irOrdenar" href="/editar"
                >Ordenar</a
              >
            </li>
          </ul>

          <script>
            //script que bloquea el acceso sin token
            //envia notificacion con tiempo y escuchando el evento click
            function mostrarNotificacion() {
              const mensaje = `✅ Debes iniciar sesión para ordenar,<br> si no tienes cuenta debes registrarte<br>`;
              const notificacion = document.getElementById("notificacion");
              notificacion.innerHTML = mensaje;
              notificacion.classList.remove("oculto");
              notificacion.classList.add("visible");

              setTimeout(() => {
                notificacion.classList.remove("visible");
                notificacion.classList.add("oculto");
              }, 10000);
            }

            document
              .getElementById("irOrdenar")
              .addEventListener("click", (e) => {
                if (!localStorage.getItem("token")) {
                  e.preventDefault(); // ⛔ detiene el comportamiento por defecto (como ir al href)
                  mostrarNotificacion(); // ✅ muestra la notificacion
                  return; 
                }

                // ✅  redireccion para ordenar
                window.location.href = "/editar";
              });
          </script>

          <!--div de la notificacion para mostrarla en pantalla-->
          <div id="notificacion" class="oculto"></div>

          <!--boton para ir a iniciar sesion con link #-->
          <a
            class="btn btn-outline-light me-2"
            href="/contacto#loginForm"
            >Iniciar sesión</a
          >

          <!-- Botón de cerrar sesión con id para usar logout.js-->
          <button class="btn btn-outline-light" id="logout">
            Cerrar sesión
          </button>
        </div>
      </div>
    </nav>
    <!--script que escucha el submit para cerrar con  notificacion que desaparece
    despues de diez segundos -->
    <script>
  function mostrarNotificacion4() {
    const mensaje = `✅ Sesión cerrada<br>Nos veremos pronto`;
    const notificacion = document.getElementById("Notificacion4");
    notificacion.innerHTML = mensaje;
    notificacion.classList.remove("oculto");
    notificacion.classList.add("visible");

    // Ocultar después de 10 segundos
    setTimeout(() => {
      notificacion.classList.remove("visible");
      notificacion.classList.add("oculto");
    }, 10000);
  }

  // Escucha el clic en el botón logout
  document.getElementById("logout").addEventListener("click", () => {
    localStorage.removeItem("token");
    mostrarNotificacion4();

    
  });
</script>
<!--div de cerrar sesion -->
    <div id="Notificacion4" class="oculto"></div>




    </script>

    <!-- boton manejado con css  -->
    <section class="pizza-layout">
      <a href="/contacto" class="contact-btn"
        >CONTACTO Y ORDENAR</a
      >

      <!--carrusel de bootstrap, tipo transicion slide ,pone contenedor para las imgenes,
     agrega imagenes primera en active , en block , tamaño 100%,
    descripcion 3 veces  -->
      <div id="carouselTT" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/img/tortugas.jpg"
              class="d-block w-100"
              alt="pizza personal"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/caliente.jpg"
              class="d-block w-100"
              alt="pizza mediana"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/pizza.jpg"
              class="d-block w-100"
              alt="pizza familiar"
            />
          </div>
        </div>
        <!--agrega los dos botones , prev y next, id="carruselexample", 
        pone los iconos"carrusel control prev icon" -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselTT"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselTT"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!--segunda seccion de la pagina con un boton y carrusel de bootstrap-->
    <section class="seccion2">
      <!-- segundo carrusel de bootstrap, tipo transicion slide ,pone contenedor para las imgenes,
     agrega imagenes primera en active , en block , tamaño 100%,
    descripcion 3 veces  -->
      <div id="carousel2" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/img/gourmet.png"
              class="d-block w-100"
              alt="pizza personal"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/turtles.jpg"
              class="d-block w-100"
              alt="pizza mediana"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/gg2.png"
              class="d-block w-100"
              alt="pizza familiar"
            />
          </div>
        </div>
        <!--agrega los dos botones , prev y next,id="carrusel2", 
        pone los iconos"carrusel control prev icon" -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel2"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel2"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!--boton-->
      <a href="/menu" class="menu-btn">MENU</a>
    </section>

    <!--footer con texto y link a facebook, css -->
    <footer class="site-footer">
      <p>
        Síguenos en facebook
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          TMNT pizza
        </a>
      </p>
    </footer>
    <!--script de bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
