/*estilos para cada objeto de la pagina headers , formularios , botones y cerrar sesion*/
.mi-navbar {
  font-family: "Lemon"; /*  fuente que prefieras */
  font-size: 1.3rem; /* tamaño */
  font-weight: bold; /* aplica negrita */
}
.mi-navbar .nav-link {
  color: #9ae372;
}
.head {
  padding: 20px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #3616c5;
  font-size: clamp(2rem, 5vw, 4rem); /* escala automáticamente */

  background-color: #63caa3;
  border-radius: 20px;
}

form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Lemon";
}

fieldset {
  border: none;
}

legend {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  font-family: "Lemon";
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #0077cc;
  outline: none;
  background-color: #eef6ff;
}

select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Lemon";
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #007bff;
  outline: none;
}

.agregar {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0c44bd;
  color: rgb(248, 246, 245);
  border: none;
  border-radius: 12px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregar:hover {
  background-color: #0d4369;
  transform: scale(1.05);
}
.consultar {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #1548b4;
  color: rgb(248, 246, 245);
  border: none;
  border-radius: 12px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.consultar:hover {
  background-color: #0f4d79;
  transform: scale(1.05);
}
.actualizar {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0d3894;
  color: rgb(248, 246, 245);
  border: none;
  border-radius: 12px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actualizar:hover {
  background-color: #0e4872;
  transform: scale(1.05);
}

#eliminar {
  background-color: #c51916;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

#eliminar:hover {
  background-color: #800b0b;
  transform: scale(1.05);
}

.footer_editar {
  background-color: #a453ca;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;

  padding: 20px;
  font-family: "Lemon";
  border-radius: 20px;
}

.contacto-btn {
  background-color: #5fafe4;
  color: rgb(58, 33, 204);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.contacto-btn:hover {
  background-color: #544ae4;
  transform: scale(1.05);
}

.card-text {
  color: #168024;
  font-family: "Lemon";
}

table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "Lemon";
  background-color: #e8ebf0;
}

thead {
  background-color: #77c57a;
  color: rgb(6, 78, 27);
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #76c795;
}

#resultado {
  margin-top: 20px;
}

#notificacion {
  position: fixed;
  top: 60px;
  left: 430px;
  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.oculto {
  display: none;
}

.visible {
  display: block;
  opacity: 1;
}

#notificacion2 {
  position: fixed;
  top: 60px;
  left: 430px;

  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
#notificacion3 {
  position: fixed;
  top: 60px;
  left: 430px;

  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
.modal-oculto {
  display: none;
}

.modal-contenido {
  position: fixed;
  top: 20%;
  left: 35%;
  background: rgb(184, 120, 90);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  text-align: center;
  font-family: "Lemon";
  font-size: large;
  color: #e4e9ec;
}

#modalConfirmacion.modal-visible {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#btnConfirmarEliminar {
  background-color: #e53935;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

#btnCancelarEliminar {
  background-color: #665756;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
#btnCancelarEliminar:hover {
  background-color: #645b5b;
  transform: scale(1.05);
}
#btnConfirmarEliminar:hover {
  background-color: #c62828;
  transform: scale(1.05);
}
#carrito {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-carrito button {
  background-color: #d62828;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
#notificacion4 {
  position: fixed;
  top: 60px;
  left: 430px;

  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
#btnIrInicio {
  background-color: #4bc77f;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-family: "Lemon";
}
.menu-btn {
  background-color: #5fafe4;
  color: rgb(58, 33, 204);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.menu-btn:hover {
  background-color: #544ae4;
  transform: scale(1.05);
}
.inicio-btn {
  background-color: #5fafe4;
  color: rgb(58, 33, 204);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.inicio-btn:hover {
  background-color: #544ae4;
  transform: scale(1.05);
}

#adminLinks {
  position: fixed;
  top: 200px;
  left: 50px;
  height: 80px;
  background-color: #198754; /* Bootstrap success */
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#adminLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  font-family: "Lemon";
}

#adminLinks:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

#notificacion-error {
  border-left: 6px solid #dc3545; /* Rojo error */
  color: #a10000;
}
#notificacion-error {
  position: fixed;
  top: 80px;
  right: 200px;
  background: #fff;
  color: #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  z-index: 1000;
  max-width: 300px;
}
