/*multiples css de cada parte de la pagina menu secciones , textos , carruseles y botones*/

.mi-navbar {
  font-family: "Lemon"; /*  fuente que prefieras */
  font-size: 1.3rem; /* tamaño */
  font-weight: bold; /* aplica negrita */
}
.mi-navbar .nav-link {
  color: #9ae372;
}
.head {
  padding: 20px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #118611;
  font-size: 70px;
  background-color: #94aedd;
  border-radius: 20px;
}

.menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  padding: 40px;
  background-color: #9889d1;
  border-radius: 20px;
}

.texto1 {
  font-size: 33px;
  padding: 50px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #129125;
  font-weight: bold;
}

.texto2 {
  font-size: 33px;
  padding: 50px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #129125;
  font-weight: bold;
}

.texto3 {
  font-size: 30px;
  padding: 50px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #129125;
  font-weight: bold;
}

.texto4 {
  font-size: 30px;
  padding: 50px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #129125;
  font-weight: bold;
}

.menu3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 40px;
  background-color: #ad5abe;
}

.texto5 {
  font-size: 45px;
  padding: 50px 0;
  text-align: center;
  font-family: "Lemon";
  margin: 0 auto;
  color: #c0b237;
  font-weight: bold;
}

.footer_menu {
  background-color: #e4bb4d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;

  padding: 20px;
  font-family: "Lemon";
  border-radius: 20px;
  z-index: 1;
}

.footer_menu a:hover {
  text-decoration: underline;
}

.regresa-btn {
  background-color: #8edd69;
  color: rgb(15, 117, 29);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.regresa-btn:hover {
  background-color: #239151;
  transform: scale(1.05);
}

.ordena-btn {
  background-color: #dad864;
  color: rgb(15, 117, 29);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
/* Estilo general del carrusel de tamaños */
#carouselExample {
  margin: 40px auto;
  max-width: 450px;
  border-radius: 15px;
  overflow: hidden;
}

/* Imágenes del carrusel */
#carouselExample .carousel-item img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
}

/* Efecto hover */
#carouselExample .carousel-item:hover img {
  transform: scale(1.03);
}

/* Botones de navegación */
#carouselExample .carousel-control-prev-icon,
#carouselExample .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 10px;
}

#carouselExample .carousel-control-prev:hover,
#carouselExample .carousel-control-next:hover {
  opacity: 0.85;
}

.ordena-btn:hover {
  background-color: #1c974f;
  transform: scale(1.05);
}

.editar-btn {
  background-color: #dad864;
  color: rgb(15, 117, 29);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  padding: 18px 36px;
  border-radius: 10px;
  font-family: "Lemon";
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.editar-btn:hover {
  background-color: #1c974f;
  transform: scale(1.05);
}
#notificacion {
  position: fixed;
  top: 60px;
  left: 430px;
  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}

.oculto {
  display: none;
}

.visible {
  display: block;
  opacity: 1;
}

/* Carrusel general */
#carouselpizza {
  margin: 40px auto;
  max-width: 800px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Imágenes del carrusel */
#carouselpizza .carousel-item img {
  object-fit: cover;
  height: 400px;
  width: 100%;
  transition: transform 0.5s ease;
}

#carouselpizza .carousel-item:hover img {
  transform: scale(1.03);
}

/* Texto del carrusel */
#carouselpizza .carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 10px;
  bottom: 10px;
}

#carouselpizza .carousel-caption h5 {
  font-family: "Lemon";
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}

#carouselpizza .carousel-caption p {
  font-size: 1.2rem;

  color: #f0f0f0;
  font-family: "Lemon";
}

/* Botones de navegación */
#carouselpizza .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
}

#carouselpizza .carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}
#Notificacion4 {
  position: fixed;
  top: 60px;
  left: 430px;

  background-color: #4caf50;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: large;
  z-index: 1000;
  transition: opacity 0.5s ease;
}
