<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Teenage mutant ninja turtles PIZZA </title>

<head>
    <!--  da el color de fondo de la web -->
    <style>
        body {
            background-color: #69C76C;
        }
    </style>
    <!-- relacion con la pagina de css , links para fuentes de google "lemon"-->
    <link rel="stylesheet" href="../public/estilo.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Sigmar&display=swap" rel="stylesheet">





</head>

<body>
    <!--header de la pagina que tiene un css "head"-->
    <header class="head">
        <p> TMNT PIZZA</p>
    </header>
    <!--seccion de la pagina con un boton manejado con css y una imagen simple que tambien tiene css-->
    <section class="pizza-layout">
        <a href="/front/views/contacto.html" class="contact-btn">CONTACTO Y ORDENAR</a>

        <img src="/front/public/pizza.jpg" alt="Ninja Turtles comiendo pizza" class="pizza-img">
    </section>
    <!--segunda seccion de la pagina con un texto y boton para la segunda pagina, ambos con css-->
    <section class="seccion2">
        <p class="texto">Sabrosas pizzas para ordenar en linea , dale un vistazo al menu!</p>

        <a href="/front/views/menu.html" class="menu-btn">MENU</a>
    </section>

    <!--footer con texto y link a facebook tambien usa css -->
    <footer class="site-footer">
        <p>Síguenos en facebook
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                TMNT pizza
            </a>
        </p>
    </footer>


</body>

</html>